---
layout: default
item-meta: true
---
<div class="container py-3">

    {% include item/breadcrumbs.html %}

    {% include item/line-translation_nos.html %}
    <hr />

    <div class="row">

        <div class="col-md-6">

            {% include item/metadata.html %}
            
        </div>
    </div>

    <div class="row justify-content-end mt-4">
        <div class="col-md-6">
            {% include item/pdf-download-box.html %}
        </div>
        <div class="col-md-6">
            {% include item/citation-box.html %}
        </div>
    </div>


    {%- if site.data.theme.browse-buttons == true -%}
        {% include item/browse-buttons.html %}
    {%- endif -%}
</div>